* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

#header {
  position: fixed;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #000;
  width: 100%;
}

#nav-bar>ul {
  display: flex;
}

.logomarca a img {
  display: flex;
  margin: 10px;
  justify-content: center;
}

#nav-bar>ul {
  width: 49vw;
  justify-content: space-around;
  flex-direction: row;
  align-content: center;
}

a.nav-link {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

a.nav-link:hover {
  color: #e78200;
}

#nav-bar ul:nth-child(1) {
  padding: 0;
}

.search-form .search-field {
  border: none;
  border-radius: 7px;
  width: 100%;
  background-color: #f4f5f5;
}

/*Icon pesquisa*/
i.fa.fa-search {
  color: white;
  text-shadow: 2px 2px 2px black;
  background-color: #e78200;
  width: 50px;
  height: 40px;
  float: right;
  position: absolute;
  left: 64.5%;
  font-size: 20px;
  padding: 10px 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#search-wrap .search-form .fa-search {
  z-index: 2;
  right: 24px;
  cursor: pointer;
}

#search-wrap {
  width: 400px;
}

.search-field {
  position: absolute;
  width: 340px;
  height: 35px;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px;
  height: 40px;
  border: none;
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
} 

.search-form {
  width: 100%;
}

input.search-submit {
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

form.search-from input[type="submit"] {
  width: 50px;
  position: absolute;
  cursor: pointer;
  left: 64.5%;
  border: none;
  background: transparent;
}

i.far.fa-user {
  font-size: 25px;
  color: white;
  margin-right: 5px;
}

i.fas.fa-shopping-cart {
  font-size: 25px;
  color: white;
}
.home-slider{
  margin: 0 auto;
  height: 400px;
  width: 1366px;
  overflow: hidden;
}

.sliders {
  height: 320px;
  width: 500%;
  display: flex;
  margin-top: 82px;
}
.sliders input {
  display: none;
}
.slide {
  width: 25%;
  position: relative;
}
.slide img {
  width: 1366px;
}
.navigation-manual{
  position: absolute;
  width: 1366px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}
.manual-btn{
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child){
  margin-right: 40px;
}
.manual-btn:hover{
  background-color: #fff;
}
#slider-btn1:checked ~ .first{
  margin-left: 0;
}
#slider-btn2:checked ~ .first{
  margin-left: -25%;
}
#slider-btn3:checked ~ .first{
  margin-left: -50%;
}
.navigation-auto div{
  border: 2px solid #e78200;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.navigation-auto{
  position: absolute;
  width: 1366px;
  margin-top: 280px;
  display: flex;
  justify-content: center;
}
.navigation-auto div:not(:last-child){
  margin-right: 40px;
}
#slider-btn1:checked ~ .navigation-auto .auto-btn1, 
#slider-btn2:checked ~ .navigation-auto .auto-btn2, 
#slider-btn3:checked ~ .navigation-auto .auto-btn3{
  background-color: #e78200;
}
.services {
  background-color: #000;
  display: flex;
}
.info-service p {
  color: #f87f3b;
  font-weight: bold;
  text-decoration: none;
  font-family: 'poppins', Helvetica;
}
.services ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 auto;
  padding: 17px 0;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.info-service span {
  color: #f87f3b;
  text-decoration: none;
  font-family: 'poppins', Helvetica;
}
.info-service {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}
.services-inside img {
  max-height: 33px;
  margin-top:8px;
}
/*PRODUTOS*/
.product-content{
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/*FIM PRODUTOS*/
/*FOOTER*/
#footer {
  background-color: #000;
  padding: 20px 0;
  width: 100%;
}
#footer ul {
  display:flex;
  align-content: center;
  justify-content: space-between;
  padding: 0;
}
p.topics {
  color:#F87F3B;
  font-size: 15px;
  font-weight: bold;
}
#footer ul .infos {
  display: block;
}
.topics {
  margin-bottom: 15px;
}
a.infos {
  text-decoration: none;
  color: white;
  line-height: 24px;
}
.powered .inside {
  text-align: center;
}

.footer-under {
  background-color: white;
}
.footer-under .inside>ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.footer-under .inside {
    color: black;
    padding:25px 0;
}
p.info-footer-under {
    font-size: 16px;
    font-weight: bold;    
}
.inside .social ul{
    margin:0;
    padding: 0;
}
.inside .social li{
    display: inline-block;
    margin-right: 8px;
}
.inside .social img{
    display: inline;
    width: 25px;
}
.address p, .security span{
    font-size: 13px;
}
.security p {
    margin-bottom: 10px;
}
li.payment img {
    width: 170px;
}
.inside ul>li {
    text-align: left;
}
.info-footer-under img {
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
}
p.store-address {
  font-size: 15px;
  margin-bottom: 10px;
  line-height: 20px;
  text-shadow: 0.8px 0.5px #ccc;
}
small.info, .security span {
  text-shadow: 0.2px 0.4px #cccccc61;
}
/*FIM FOOTER*/
.inside{
  width: 1280px;
  margin: 0 auto;
}
/*LOGIN*/
.login {
  margin:40px auto;
  display: inline-block;
  text-align: center;
  padding: 20px;
  border: 1px solid black;
}
.login div:nth-child(1) img, 
.login div:nth-child(1) h2 {
  display: inline-block;
}
.login div:nth-child(1){
  margin-bottom:10px;
}
/*FIM LOGIN*/
/*CADASTRO*/
.register-content{
  margin-top: 82px;
}
/*FIM CADASTRO*/
@media only screen and (min-width: 1024px) and (max-width: 1129px) {}

@media only screen and (min-width: 768px) and (max-width:1023px) {}

@media only screen and (max-width: 767px) {}

@media only screen and (max-width: 479px) {}